body {
  margin: 0; /* Removes default margin around the body */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif; /* Sets a system font stack for optimized performance across platforms */
  -webkit-font-smoothing: antialiased; /* Improves font rendering on WebKit-based browsers */
  -moz-osx-font-smoothing: grayscale; /* Improves font rendering on Firefox for macOS */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
    monospace; /* Specifies a monospace font for code to ensure consistent spacing */
}
